.youtube {
    width: 520px;
    height: 315px;
}

.videoPlay {
    width: 570px;
}

.videoList {
    width: 680px;
}

.comment {
    width: 500px;
    border: 1px solid black;
    resize: none;
}

.commentbox {
    border: 2px solid #005cbf;
    border-radius: 5px;
}

.content {
    display: flex;
}